*
{
    margin: 0;
    padding: 0;
    cursor: default;
    user-select: none;
    box-sizing: border-box;
}

html
{
    color: #EEE;
    background-color: #111;
}

canvas
{
    background-color: #293833;
    image-rendering: pixelated;
}
